<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/feedback.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menuCards.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Restoraunt.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css"/>
    <link rel="stylesheet" href="~/css/review.css" asp-append-version="true"/>
</head>
<body onload="setLinksOutline(3, 'navbar-link', 'active-page');">
    <header>
        <div class="hr">
            <a class="main-logo" asp-controller="Home" asp-action="Index"></a>
            <ul class="hr">
                <li><a asp-controller="Home" asp-action="Index"  class="navbar-link">О нас</a></li>
                <li><a asp-controller="Menu" asp-action="Index" asp-route-section="main" asp-route-type="cold-starters" class="navbar-link">Меню</a></li>
                <li><a asp-controller="Review" asp-action="Index" class="navbar-link">Отзывы</a></li>
                <li><a asp-controller="Feedback" asp-action="Index" class=" navbar-link">Обратная связь</a></li>
            </ul>
        </div>
    </header>
    <div >
        <main role="main">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
