@{
    ViewData["Title"] = "Oasis";
}

<div class="info-container">
    <h2 class="page-title">Прямая связь с руководством</h2>
    <div class="black-splitter"></div>

    <div class="feedback-form" >
        
            <p>
                Ваш отзыв был успешно отправлен !
                <br />
                После подтверждения администрацией Ваш отзыв будет опубликован на вкладке "Отзывы". Спасибо !
            </p>
        
    </div>
             
    
</div>