.img-pos {
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 400px;
    background-color: transparent;
    padding: 2em;
    margin: 0 20px 20px 20px;
}

    .card * {
        margin: 8px 0 0 0;
        color: #ffffff;
    }

    .card h1 {
        letter-spacing: 0.05em;
        line-height: 40px;
        font-size: 34px;
    }

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1360px;

}

.position-price {
    font-size: 1.5rem;
}

.position-description {
    font-size: 1rem;
}

.menu-field {
    align-items: center;
    display: flex;
    flex-direction: column;
}