@{
    ViewData["Title"] = "Oasis";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>О ресторане - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
    <body>
        <div class="info-container">
                <h2 class="page-title">О ресторане</h2>
                <div class="black-splitter">
                </div>
                <div class="main-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus ut purus vel consequat. 
                        Mauris ut egestas nibh. Proin varius ut odio non luctus. Pellentesque egestas erat id nulla vehicula tempor. 
                        In sit amet erat auctor, consequat est at, rhoncus dolor. Donec id dolor et nulla pharetra fringilla. 
                        </p>
                </div>                
                <div class="main-img-div">
                    <img class="about-img" src="https://media.admagazine.ru/photos/61a0e06f314e7e8b42d92952/16:9/w_2560%2Cc_limit/Volodin_614A7274-HDR-2.jpg">
                </div>                
        </div>        
    </body>
</html>

